@model IEnumerable<TestGit.Models.item>

@{
    ViewBag.Title = "Catalog";
}

<div class='container'>
    <div class='section friendly'>
        <h1><strong>SEARCH | </strong>&nbsp;&nbsp;&nbsp;Catalog</h1>
        <div class='article'>

            <form action="" method="get">

                <table cellpadding="0" cellspacing="0" border="0" class="tbl_insert">
                    <tr>
                        <th><label for="search">Library catalog:</label></th>
                        <td>
                            <input type="text" name="search" value="<?php echo stripslashes($search); ?>" class="fld">
                        </td>
                        <td>
                            <label for="btn_add" class="sbm sbm_blue fl_l">
                                <input type="submit" id="btn_add" class="btn" value="Search">
                            </label>
                        </td>
                    </tr>


                    <tr>
                        <th><label for="library">Library:</label></th>
                        <td>

                            @foreach (var library in (List< TestGit.Models.library>) ViewBag.library)
                            {
                                @Html.DropDownList("library", new List<SelectListItem>
                                {
                                    new SelectListItem { Text = library.name, Value= ""+library.id},
                                }, 
                                "All libraries&hellip;", new { @class = "sel" })
                            }

                        </td>
                    </tr>

                </table>

                <ul id="filters">
                    <li>

                        <input type="checkbox" name="category[]"
                               id="category_12"
                               value="12" />
                        <span>Audio</span>
                    </li>
                    <li>

                        <input type="checkbox" name="category[]"
                               id="category_2"
                               value="2" />
                        <span>Books</span>
                    </li>
                    <li>

                        <input type="checkbox" name="category[]"
                               id="category_32"
                               value="32" />
                        <span>Periodicals</span>
                    </li>
                    <li>

                        <input type="checkbox" name="category[]"
                               id="category_22"
                               value="22" />
                        <span>Video</span>
                    </li>
                </ul>
            </form>

        </div>
    </div>
</div>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <p>Item 1</p>
    }
}
else
{
    <div class="paging">
        <p><strong>No catalogue</strong> found</p>
    </div>
}


