@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <h2>Navigation</h2>
    <div class="dev br_td">&nbsp;</div>
    <ul id="navigation">
        <li>
            <a href="/catalogue">
                Catalogue
            </a>
        </li>
        <li>
            <a href="/loans">
                Loans
            </a>
        </li>

        <li>
            <a href="/account">
                My Account
            </a>
        </li>
    </ul>
}
else
{
    <p></p>
}