@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <h2>Navigation</h2>
    <div class="dev br_td">&nbsp;</div>
    <ul id="navigation">
        <li>
            @Html.ActionLink("Catalogue", "Index", "Catalog")
        </li>
        <li>
            @Html.ActionLink("Loans", "Index", "Loans")
        </li>

        <li>
            @Html.ActionLink("Loans", "Index", "Account")
        </li>
    </ul>
}
else
{
    <p></p>
}